@page "/"
@using System.Linq;
@using CashRegister.Models
@using CashRegister.DAL

@*Button zum auswählen ob man die Kategorien von der Sennerei oder von der Gastro sehen will*@
<div class="body">
    <MudTabs Elevation="2" Rounded="true" Centered="true">
        <MudTabPanel Icon="@Icons.Filled.IncompleteCircle" Text="Sennerei" />
        <MudTabPanel Icon="@Icons.Filled.FoodBank" Text="Gastro" />
    </MudTabs>
</div>



<table>
    <tr valign="top">
        <td>
            @*Grid wird erstellt indem alle Papers reingepackt werden*@
            <MudGrid Style="width: 1120px; margin-top: 20px">
                <MudItem xs="14">
                    <MudGrid Justify="justification">

                        @*Für die Anzahl von dem int papers werden jetzt Papers erstellt (z.b papers = 4 Es werden dan 4 Paper erstellt)*@
                        @for (int i = 0; i < papers; i++)
                        {
                            int localindex = i;

                            //Hier werden Die Papers errstellt mit einer bestimten Größe(xs)
                            <MudItem xs="4">
                                <MudPaper onclick="@kategorieclick" Style="@color" Class="d-flex flex-column align-center justify-center mud-width-full py-8">
                                    <MudText Typo="Typo.h6">@produkttext</MudText>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </td>

        <td>

            @*Unten rechst vom Bildschirm wird der jetzige Beleg angezeigt*@
            <MudPaper Height="450px" Width="400px" Square="true" Class="rounded" Style="  background-color: #f0f0f0; margin-left: 100px; margin-top: 80%;">
              
                    <span class="groseschrif"><pre> Total:      €801.00</pre></span>
                    <MudDivider Style="margin-top: 20px;"/>
                    <span class="groseschrif"><pre> Gegeben:    €900.00</pre></span>
                    <span class="groseschrif"><pre> Rückgeld:   €99.00</pre></span>

                   
                <MudFab Label="Kassa Öffnen" Style="width: 150px; margin-top: 50px; margin-left: 125px" />
                </MudPaper>
        </td>
    </tr>
</table>


<style>
    .buttonWidth {
        width: 320px;
        color: #ffff;
    }

</style>



@code {
    int x = 0;
    int y = 0;
    string mycolor;
    string text;
    static CashRegisterContextDB context = new CashRegisterContextDB();
    List<String> colorlist = new List<String> 
    {   "#CFDDDB", "#E4CDEE", "#C2DBE9", "#C9CAEE", "#FAC2D9", "#E6DADE", "#10c4ea", "#a08af9", "#59f996", "#497E76", "#6C7156", 
        "#CFDDDB", "#E4CDEE", "#C2DBE9", "#C9CAEE", "#FAC2D9", "#E6DADE", "#10c4ea", "#a08af9", "#59f996", "#497E76", "#6C7156"};

    public string color {

        get {
            mycolor = colorlist.ElementAt(x);

            x++;
            return "background-color:" + mycolor;
        }
        set { }
    }

    static List<Kategorie> kategorien = context.Kategorie.ToList();



    public string produkttext
    {

        get
        { 

            List<String> kategorieNamen = kategorien.Select(cat => cat.KategorieName).ToList();

            text = kategorieNamen.ElementAt(y);


            y++;
            return text;
        }
        set { }
    }


    int papers = kategorien.Count; // anzahl der grid items
    Justify justification = Justify.FlexStart; 


    void UpdateBreaks(int index, int changeamount)
    {
        int newbreaks = 2; 
        newbreaks += changeamount;

        StateHasChanged();
    }

    public void kategorieclick()
    { 
    
    }

}